.planets-body {
  display: grid;
  background: #00132c;
  place-items: center;
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
  min-width: 100%;
  min-height: 300px;
  width: 50vw;
  height: 100%;
  grid: 1fr / 1fr;
  @media (min-width: 800px) {
    min-width: 39%;
    max-width: 462px;
  }
  @media (min-width: 400px) {
    min-height: 400px;
  }
}

.sun,
.orb,
.ripple,
.ripple-item {
  grid-column: 1;
  grid-row: 1;
}

.sun {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 300;
  @media (min-width: 400px) {
    height: 50px;
    width: 50px;
  }
}

.orb {
  border-radius: 100%;
  max-width: 100%;
  animation: move-planet linear infinite;
}

.planet {
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: -10px;
}

.earth.orb {
  height: 140px;
  width: 140px;
  animation-duration: 7s;
  @media (min-width: 400px) {
    height: 170px;
    width: 170px;
  }
}

.earth .planet {
  height: 20px;
  width: 20px;
  @media (min-width: 400px) {
    height: 30px;
    width: 30px;
  }
}

.mars.orb {
  height: 200px;
  width: 200px;
  animation-duration: 10s;
  @media (min-width: 400px) {
    height: 280px;
    width: 280px;
  }
}

.mars .planet {
  height: 30px;
  width: 32px;
  @media (min-width: 400px) {
    height: 40px;
    width: 42px;
  }
}

.ripple {
  display: grid;
  grid: 1fr / 1fr;
  place-items: center;
}

.ripple-item {
  border-radius: 100%;
  border: solid 2px rgba(219, 99, 29, 0.623);
  animation: ripple ease-in 3s infinite;
}

.ripple-item:nth-child(2) {
  animation-delay: -400ms;
}

.ripple-item:nth-child(3) {
  animation-delay: 500ms;
}

@keyframes move-planet {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
