$color--section-background: #f1f1f1;
$color--main-1: #061b38;
$color--complement-1: #2c4f80;
$color--complement-2: #ffffff;
$color--complement-3: #e32700;
$color--complement-4: #436dac;
$color--planets-animation: #00132c;

$box--shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);

$color--main-font: #323232;
$font--main: "Montserrat", sans-serif;
