/*General*/
/*Mixins and extendtions*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f1f1f1;
  color: #323232;
  font-size: 16px;
  margin: 0;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-wrapper img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

button {
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #2c4f80;
  border: 1px solid #2c4f80;
  border-radius: 10px;
  padding: 6px 20px;
  font-size: 12px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #2c4f80;
  color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: relative;
  background-image: radial-gradient(rgba(193, 85, 85, 0.5), #240202), url("/images/page-1/hero-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vw;
  max-height: 1000px;
  min-height: 700px;
}

.main-header:before, .main-header:after {
  position: absolute;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: rgba(51, 93, 148, 0.705);
  -webkit-clip-path: ellipse(62.26% 25.98% at 40.64% 60.14%);
          clip-path: ellipse(62.26% 25.98% at 40.64% 60.14%);
  -webkit-transform: rotate(12deg) translateY(3px);
          transform: rotate(12deg) translateY(3px);
  min-height: 940px;
  min-width: 140%;
  height: 20vh;
  top: -300px;
  left: -5px;
  content: "";
}

@media (min-width: 440px) {
  .main-header:before, .main-header:after {
    -webkit-clip-path: ellipse(62.26% 37.57% at 39.54% 62.35%);
            clip-path: ellipse(62.26% 37.57% at 39.54% 62.35%);
  }
}

@media (min-width: 700px) {
  .main-header:before, .main-header:after {
    -webkit-clip-path: ellipse(50% 47.04% at 37.17% 52.14%);
            clip-path: ellipse(50% 47.04% at 37.17% 52.14%);
    height: 44vh;
  }
}

.main-header:after {
  background: linear-gradient(172deg, #00132c 46%, rgba(21, 52, 98, 0.9));
  min-height: 920px;
  height: 19vh;
}

@media (min-width: 700px) {
  .main-header:after {
    height: 43vh;
  }
}

.header-text {
  position: absolute;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 170px;
  max-width: 280px;
  z-index: 1;
}

@media (min-width: 500px) {
  .header-text {
    max-width: 400px;
  }
}

@media (min-width: 920px) {
  .header-text {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
    right: 170px;
    max-width: 450px;
  }
}

h1 {
  color: #ffffff;
  font-size: 45px;
  margin-bottom: 15px;
}

@media (min-width: 500px) {
  h1 {
    font-size: 60px;
  }
}

h1:after {
  display: block;
  background: #ffffff;
  width: 90%;
  height: 5px;
  margin-top: 20px;
  margin-left: 15px;
  content: "";
}

@media (min-width: 950px) {
  h1:after {
    margin-left: 0;
  }
}

h2 {
  color: #436dac;
  margin-top: 0;
}

@media (min-width: 500px) {
  h2 {
    font-size: 40px;
  }
}

.header-faq {
  background-image: radial-gradient(rgba(193, 85, 85, 0.5), #240202), url("/images/page-2/hero-2.jpg");
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c4f80;
  bottom: 0;
  min-height: 300px;
  padding-top: 10px;
}

footer h2 {
  color: #ffffff;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}

footer p {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.44px;
}

footer strong {
  color: #f97c7c;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #061b38;
  width: 100%;
  min-height: 90px;
  padding: 1rem;
  z-index: 1;
}

@media (min-width: 500px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main-nav img {
  height: 30px;
  min-height: 30px;
  margin: 0.5rem;
}

.main-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  min-width: 290px;
  margin: 0;
  padding: 0;
}

.main-nav .nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding: 0.5rem;
  padding-bottom: 5px;
  font-size: 14px;
}

.main-nav .nav-links a:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-bottom: solid #e32700 3px;
}

.main-nav .current {
  padding-bottom: 5px;
  border-bottom: solid #e32700 3px;
}

/*Page 1*/
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background: #ffffff;
  max-height: 1000px;
}

@media (min-width: 800px) {
  .about {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.about .about-textbox {
  margin: 4rem 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1300px) {
  .about .about-textbox {
    padding: 4rem;
  }
}

.about .about-textbox h2 {
  color: #e32700;
  font-weight: 800;
  font-size: 20px;
}

@media (min-width: 800px) {
  .about .about-textbox h2 {
    font-size: 36px;
  }
}

.about .about-textbox p {
  font-size: 18px;
  line-height: 29px;
}

.about .about-textbox strong {
  color: #e32700;
}

.about .about-img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 1000px;
}

@media (min-width: 800px) {
  .about .about-img {
    -ms-grid-row: 1;
    grid-row: 1;
    max-width: 90%;
  }
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

@media (min-width: 900px) {
  .article-container {
    padding: 6rem 6rem;
  }
}

.article-container h2 {
  margin-top: 15px;
  margin-bottom: 90px;
  color: #2c4f80;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

@media (min-width: 900px) {
  .article-container h2 {
    font-size: 36px;
  }
}

.article-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  max-width: 1600px;
}

@media (min-width: 1100px) {
  .article-wrapper {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 2.5fr 1fr;
        grid-template: 1fr 1fr / 2.5fr 1fr;
  }
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  line-height: 25px;
}

@media (min-width: 600px) {
  article {
    -ms-grid-rows: none;
    -ms-grid-columns: 1fr 2fr;
        grid-template: none / 1fr 2fr;
  }
}

article .article-textbox {
  margin: 2em;
}

article .article-textbox h3 {
  color: #e32700;
  font-size: 20px;
  font-weight: 500;
}

.article-why-mars .planet-img {
  height: 160px;
  width: 160px;
  margin-top: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1100px) {
  .article-sustainable-sun {
    -ms-grid-rows: 1fr auto;
    -ms-grid-columns: none;
        grid-template: 1fr auto / none;
    grid-row: span 2;
  }
}

.article-sustainable-sun .solar-img {
  margin: 2rem;
  height: 160px;
  width: 160px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article-move-in img {
  min-width: 220px;
}

/*Page 2*/
.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq h2 {
  text-align: center;
  margin: 2em;
  font-size: 36px;
  font-weight: 800;
  color: #2c4f80;
}

.faq-wrapper {
  display: -ms-grid;
  display: grid;
  max-width: 1600px;
  gap: 2em;
}

@media (min-width: 1100px) {
  .faq-wrapper {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 2fr;
        grid-template: 1fr 1fr 1fr / 1fr 2fr;
  }
}

@media (min-width: 1100px) {
  .faq-wrapper .first-faq {
    grid-row: span 2;
  }
}

.faq-wrapper .last-faq {
  -webkit-clip-path: inset(-20px 0px 0px 0px);
          clip-path: inset(-20px 0px 0px 0px);
}

@media (min-width: 1100px) {
  .faq-wrapper .last-faq {
    grid-column: span 2;
  }
}

.faq-textbox {
  margin: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 500px) {
  .faq-textbox {
    margin: 3rem;
  }
}

.article-list {
  color: #e32700;
}

.article-list .list-content {
  color: #323232;
}

.faq-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .faq-article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.faq-article h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e32700;
}

.article-grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 600px) {
  .article-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.article-grid .image-wrapper {
  min-height: 450px;
}

@media (min-width: 600px) {
  .article-grid .image-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (min-width: 600px) {
  .article-grid .faq-textbox {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.planets-body {
  display: -ms-grid;
  display: grid;
  background: #00132c;
  place-items: center;
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
  min-width: 100%;
  min-height: 300px;
  width: 50vw;
  height: 100%;
  grid: 1fr / 1fr;
}

@media (min-width: 800px) {
  .planets-body {
    min-width: 39%;
    max-width: 462px;
  }
}

@media (min-width: 400px) {
  .planets-body {
    min-height: 400px;
  }
}

.sun,
.orb,
.ripple,
.ripple-item {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.sun {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 300;
}

@media (min-width: 400px) {
  .sun {
    height: 50px;
    width: 50px;
  }
}

.orb {
  border-radius: 100%;
  max-width: 100%;
  -webkit-animation: move-planet linear infinite;
          animation: move-planet linear infinite;
}

.planet {
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: -10px;
}

.earth.orb {
  height: 140px;
  width: 140px;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

@media (min-width: 400px) {
  .earth.orb {
    height: 170px;
    width: 170px;
  }
}

.earth .planet {
  height: 20px;
  width: 20px;
}

@media (min-width: 400px) {
  .earth .planet {
    height: 30px;
    width: 30px;
  }
}

.mars.orb {
  height: 200px;
  width: 200px;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@media (min-width: 400px) {
  .mars.orb {
    height: 280px;
    width: 280px;
  }
}

.mars .planet {
  height: 30px;
  width: 32px;
}

@media (min-width: 400px) {
  .mars .planet {
    height: 40px;
    width: 42px;
  }
}

.ripple {
  display: -ms-grid;
  display: grid;
  grid: 1fr / 1fr;
  place-items: center;
}

.ripple-item {
  border-radius: 100%;
  border: solid 2px rgba(219, 99, 29, 0.623);
  -webkit-animation: ripple ease-in 3s infinite;
          animation: ripple ease-in 3s infinite;
}

.ripple-item:nth-child(2) {
  -webkit-animation-delay: -400ms;
          animation-delay: -400ms;
}

.ripple-item:nth-child(3) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes move-planet {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes move-planet {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

/*Page 3*/
.join-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
}

.title-wrapper h2 {
  text-align: center;
  margin-top: 2rem;
  max-width: 500px;
  color: #e32700;
  font-weight: 800;
  font-size: 32px;
}

.title-wrapper h3 {
  text-align: center;
  max-width: 500px;
  color: #2c4f80;
  font-weight: 500;
  font-size: 18px;
}

form {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  margin-top: 2em;
  padding: 5%;
  width: 90%;
  max-width: 1800px;
}

@media (min-width: 700px) {
  form {
    -ms-grid-rows: auto auto 3fr auto;
    -ms-grid-columns: 2fr 2fr 1fr;
        grid-template: auto auto 3fr auto / 2fr 2fr 1fr;
  }
}

input,
textarea {
  border-radius: 5px;
  border: solid 1px #2c4f80;
  width: 90%;
  min-height: 30px;
  margin-top: 10px;
}

.motivation {
  min-height: 200px;
  width: 100%;
}

@media (min-width: 700px) {
  .motivation {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.submit-btn {
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 700px) {
  .submit-btn {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

label {
  font-size: 14px;
  font-weight: 700;
  color: #2c4f80;
}

.header-contact {
  background-image: radial-gradient(rgba(193, 85, 85, 0.5), #240202), url("/images/page-3/hero-3.jpg");
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 760px;
}

.header-contact:before, .header-contact:after {
  position: absolute;
  background: rgba(59, 106, 168, 0.705);
  max-height: 960px;
  min-height: 765px;
  min-width: 130%;
  -webkit-clip-path: ellipse(79.2% 55.07% at 39.24% 40.83%);
          clip-path: ellipse(79.2% 55.07% at 39.24% 40.83%);
  -webkit-transform: rotate(185deg);
          transform: rotate(185deg);
  left: -60px;
  bottom: -260px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  content: "";
}

@media (min-width: 900px) {
  .header-contact:before, .header-contact:after {
    min-width: 110%;
    max-height: 940px;
    -webkit-clip-path: ellipse(66% 74% at 65.49% 23.67%);
            clip-path: ellipse(66% 74% at 65.49% 23.67%);
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
  }
}

.header-contact:after {
  background: linear-gradient(182deg, #00132c 31%, rgba(21, 52, 98, 0.9));
  min-height: 750px;
  left: -70px;
  bottom: -270px;
}

.header-text-contact {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 4rem 15px;
  max-width: 400px;
  z-index: 1;
}

@media (min-width: 900px) {
  .header-text-contact {
    text-align: left;
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 500px;
    margin: 5rem;
  }
}

.header-text-contact h1 {
  color: #ffffff;
  font-size: 45px;
  margin-bottom: 15px;
}

@media (min-width: 900px) {
  .header-text-contact h1 {
    font-size: 60px;
  }
}

.header-text-contact h2 {
  color: #436dac;
  margin-top: 0;
  font-size: 30px;
}

@media (min-width: 900px) {
  .header-text-contact h2 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */